.uc_q, .uc_q_object {

}

.ucqo_g_selected {
    /*color: #4cd1d4;*/
}

.ucqo_g_selected .ucqo_g_border {
    /*border-color: #4cd1d4;*/
}

.ucqo_g_right {
    /*color: #4cd1d4;*/
}

.ucqo_g_right .ucqo_g_border {
    /*border-color: #4cd1d4;*/
}

.ucqo_g_wrong {
    color: red;
}

.ucqo_g_wrong .ucqo_g_border {
    border-color: red;
}

.ucqo_g_solution {
    /*color: #4cd1d4;*/
}

.ucqo_g_solution .ucqo_g_border {
    /*border-color: #4cd1d4;*/
}

.ucqo_g_blank {
    font-size:0;
}

.ucqo_g_symbol {
    font-family: "Symbola-mq","Times New Roman",serif;
}

.ucqo_g_big {
    font-size: 1.4em;
}

.ucqo_g_blank {
    padding: 0 10px;
    border-bottom: 1px solid #333;
}

.ucqo_g_input {
    color: #000;
}

.uc_q_fraction {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_frac {
    margin: 0 0.1em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
}

.ucqo_frac_integer {
    margin-right: 0.1em;
}

.ucqo_frac_frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.1em;
}

.ucqo_frac_frac .ucqo_frac_numerator, .ucqo_frac_frac .ucqo_frac_denominator {
    padding: 0 0.2em 0 0.2em;
    text-align: center;
}

.ucqo_frac_frac .ucqo_frac_denominator {
    padding-top: 1px;
    border-top-width: 1px;
    border-top-style: solid;
}

.ucqo_frac_editor.ucqo_g_blank {
    padding: 0;
    border: none;
}

.ucqo_frac_editor input {
    border: none;
    font-size: inherit;
    text-align: center;
    outline: none;
    font: inherit;
    width: 25px;
    border: 1px dotted #ddd;
}

.ucqo_script > sup, .ucqo_script > sub {
    font-size: smaller;
    -webkit-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -ms-transform-origin: center left;
}

.ucqo_script_full {
    line-height: 1em;
}

.ucqo_script_full .ucqo_script_body {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    margin-top: -0.1em;
}

.ucqo_script_full .ucqo_script_sup, .ucqo_script_full .ucqo_script_sub {
    font-size: 80%;
    line-height: 0.8em;
}

.ucqo_script_full .ucqo_script_sup > sup, .ucqo_script_full .ucqo_script_sub > sub {
    font-size: smaller;
    -webkit-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -ms-transform-origin: center left;
    line-height: 0.8em;
}

.ucqo_pc .ucqo_script_front {
    font-size: 1.4em;
    line-height: 1em;
    vertical-align: text-bottom;
}

.ucqo_equation {
    margin: 0 3px 0 3px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4em;
}

.ucqo_equation_bracket {
    position: relative;
    width: 0.8em;
}

.ucqo_equation_bracket > span {
    position: absolute;
    display: inline-block;
    font-family: "Symbola-mq","Times New Roman",serif;
    top: 48%;
    width: 0.8em;
    text-align: center;
    margin-top: -0.59em;
    -webkit-transform-origin: center center;
}

.ucqo_select {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.1em 0 0.3em;
}

.ucqo_select_editor > li {
    cursor: pointer;
}

.ucqo_select_editor > li.ucqo_select_selected .ucqo_select_radio {
    color: #4cd1d4;
}

.ucqo_text {
    border-bottom: 1px solid #333;
    padding: 0 20px;
}

.ucqo_text_editor {
    display: inline-block;
    border-bottom: 1px solid #333;
    min-width: 60px;
}

.ucqo_text_editor input {
    border: none;
    color: #333;
    font-size: inherit;
    text-align: center;
    outline: none;
    font: inherit;
    width: 100%;
    width: 60px;
    padding: 0 10px;
}

.ucqo_root {
    display: inline-block;
    vertical-align: 0;
    position: relative;
    margin-left: 0.1em;
}

.ucqo_root .ucqo_root_index {
    vertical-align: 0.2em;
    -webkit-transform: scale(0.7,0.7);
    transform: scale(0.7,0.7);
    -ms-transform: scale(0.7,0.7);
    -webkit-transform-origin: top;
    transform-origin: top;
    -ms-transform-origin: top;
    left: -0.1em;
    display: inline-block;
    position: absolute;
    top: -0.4em;
}

.ucqo_root .ucqo_root_root {
    font-family: "Symbola-mq","Times New Roman",serif;
    margin-right: -1px;
    line-height: 1.0em;
    position: relative;
    top: -0.2em;
}

.ucqo_root_number {
    padding: 1px 0.2em 0;
    border-top: 1px solid #333;
    display: inline-block;
    line-height: 1.2em;
}

.ucqo_repeat_repeat {
    position: relative;
    margin-top: 0.5em;
    display: inline-block;
}

.ucqo_repeat_dot {
    position: absolute;
    left: 0.0em;
    right: 0.0em;
    top: 50%;
    margin-top: -1.15em;
    line-height: 1em;
    font-weight: bold;
    min-width: 1em;
    font-family: "Symbola-mq","Times New Roman",serif;
}

.ucqo_repeat_one .ucqo_repeat_dot {
    min-width: 0;
}

.ucqo_repeat_right {
    float: left;
    padding-left: 0.1em;
}

.ucqo_repeat_left {
    float: right;
    padding-right: 0.1em;
}

.ucqo_overline {
    border-top-width: 1px;
    border-top-style: solid;
    line-height: 1em;
    margin-top: 0.1em;
    display: inline-block;
    vertical-align: 0.05em;
}

.ucqo_vector {
    line-height: 1em;
    position: relative;
    margin-top: 0.5em;
    display: inline-block;
}

.ucqo_vector_over_wrp {
}

.ucqo_vector_over {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: right;
    position: absolute;
    left: 0;
    right: 0em;
    top: 50%;
    margin-top: -1.2em;
    line-height: 1em;
    height: 0.46em;
    overflow: visible;
    font-family: SimSun;
}

.ucqo_vector_over > span {
    margin-right: -0.15em;
}

.ucqo_tof > li {
    display: inline-block;
}

.ucqo_operator {
    margin: 0 0.1em;
}

.ucqo_operator .ucqo_operator_main {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.ucqo_operator .ucqo_operator_o {
    line-height: 1em;
    display: block;
}

.ucqo_operator .ucqo_operator_lower {
    line-height: 1em;
    font-size: 0.6em;
    display: block;
}

.ucqo_operator .ucqo_operator_upper {
    line-height: 1em;
    font-size: 0.6em;
    display: block;
}

.ucqo_limit .ucqo_operator_main {
    margin-bottom: -0.1em;
}

.ucqo_limit .ucqo_operator_lower {
    margin-bottom: -7px;
}

.ucqo_sum .ucqo_operator_o {
    line-height: 0.8em;
    padding-top: 0.10em;
    font-size: 1.6em;
}

.ucqo_sum .ucqo_operator_main {
    margin-top: -0.2em;
}

.ucqo_table > table {
    margin-top: 1px;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.3em;
    width: 100%;
}

.ucqo_table > table > tr > th, .ucqo_table > table > tr > td {
    padding: 8px;
    border: 1px solid #333;
}

.ucqo_table > table > tbody > tr > th, .ucqo_table > table > tbody > tr > td {
    padding: 8px;
    border: 1px solid #333;
}

table.edittable {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.3em;
}

table.edittable > tr > th, table.edittable > tr > td {
    padding: 8px;
    border: 1px solid #333;
}

table.edittable > tbody > tr > th, table.edittable > tbody > tr > td {
    padding: 8px;
    border: 1px solid #333;
}

.ucqo_matrix {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px #333 solid;
    border-right: 1px #333 solid;
    padding: 0px 0.4em;
    margin: 0px 0.4em;
}

.ucqo_matrix .ucqo_matrix_fl {
    float: left;
}

.ucqo_matrix .ucqo_matrix_fr {
    float: left;
    margin-left: 1em;
}

.ucqo_grid {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_grid .ucqo_grid_fl {
    float: left;
}

.ucqo_grid .ucqo_grid_fr {
    float: left;
    margin-left: 1em;
}

.ucqo_arc {
    line-height: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
}

.ucqo_arc .ucqo_arc_main {
    display: block;
    line-height: 0.8em;
    height: 0.8em;
}

.ucqo_arc .ucqo_arc_header {
    display: block;
}

.ucqo_strike {
    text-decoration: line-through;
}

.math {
    display: inline-block;
}

.math table {
    vertical-align: middle;
    display: inline-block;
}

.uc_q_wrong_type {
    color: red;
}

.uc_q_equalmark {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_equalmark {
    margin: 0 0.1em;
    vertical-align: middle;
    line-height: 1.2em;
}

.ucqo_equalmark_table {
    border-collapse: separate;
    border-spacing: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.1em;
}

.ucqo_equalmark_table .ucqo_equalmark_top, .ucqo_equalmark_table .ucqo_equalmark_bottom {
    padding: 0 0.2em 0 0.2em;
    text-align: center;
}

.ucqo_equalmark_table .ucqo_equalmark_top {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.ucqo_equalmark_table .ucqo_equalmark_bottom {
    border-top-width: 1px;
    border-top-style: solid;
}

.uc_q_arrow {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_arrow {
    margin: 0 0.1em;
    vertical-align: middle;
    line-height: 1.2em;
}

.ucqo_arrow_table {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.1em;
}

.ucqo_arrow_table .ucqo_arrow_top {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 2px 3px;
}

.ucqo_arrow_right_arrow {
    position: absolute;
    right: 0;
    bottom: -3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 4px;
    height: 4px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}

.ucqo_arrow_left_arrow {
    position: absolute;
    left: 0;
    bottom: -3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4px;
    height: 4px;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
}

.uc_q_parallelequal {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_parallelequal {
    margin: 0 0.1em;
    vertical-align: middle;
    line-height: 1.2em;
}

.ucqo_parallelequal_table {
    border-collapse: separate;
    border-spacing: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.1em;
}

.ucqo_parallelequal_table .ucqo_parallelequal_top, .ucqo_parallelequal_table .ucqo_parallelequal_bottom {
    text-align: center;
}

.ucqo_parallelequal_table .ucqo_parallelequal_top {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: '瀹嬩綋';
}

.ucqo_parallelequal_table .ucqo_parallelequal_bottom {
    border-top-width: 1px;
    border-top-style: solid;
}

.uc_q_underbrace {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_underbrace {
    margin: 0 0.1em;
    vertical-align: middle;
    line-height: 1.2em;
}

.ucqo_underbrace_table {
    border-collapse: separate;
    border-spacing: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.1em;
}

.ucqo_underbrace_table .ucqo_underbrace_top, .ucqo_underbrace_table .ucqo_underbrace_bottom {
    text-align: center;
}

.ucqo_underbrace_brace {
    font-family: "Symbola-mq","Times New Roman",serif;
    -webkit-transform: scale(3.4,1) rotate(-90deg);
    -moz-transform: scale(3.4,1) rotate(-90deg);
    transform: scale(3.4,1) rotate(-90deg);
    display: inline-block;
}

.uc_q_valence {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_valence {
    margin: 0 0.1em;
    vertical-align: middle;
    line-height: 1.2em;
}

.ucqo_valence_table {
    border-collapse: separate;
    border-spacing: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.1em;
}

.uc_q_chemequation {
    display: inline-block;
    vertical-align: middle;
}

.ucqo_chemequation {
    margin: 0 0.1em;
    vertical-align: middle;
    line-height: 1.2em;
}

.ucqo_chemequation_table {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.1em;
    border-collapse: separate;
    border-spacing: 1px;
}

.ucqo_chemequation_table .ucqo_chemequation_top {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 2px 3px;
}

.ucqo_chemequation_right_arrow {
    position: absolute;
    right: 0;
    bottom: -3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 4px;
    height: 4px;
    border-top-width: 1px;
    border-top-style: solid;
}

.ucqo_chemequation_table .ucqo_chemequation_bottom {
    position: relative;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 2px 3px;
}

.ucqo_chemequation_left_arrow {
    position: absolute;
    left: 0;
    top: -3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 4px;
    height: 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.uc_q_object img {
    max-width: 100%;
}

img {
    vertical-align: middle;
}
/*鍏紡*/
.MathJye { border: 0 none; direction: ltr; line-height: normal; display: inline-block; float: none; /*font-family: 'Times New Roman','瀹嬩綋';*/ font-size: 15px; font-style: normal; font-weight: normal; letter-spacing: 1px; line-height: normal; margin: 0; padding: 0; text-align: left; text-indent: 0; text-transform: none; white-space: nowrap; word-spacing: normal; word-wrap: normal; -webkit-text-size-adjust: none; }
.MathJye div, .MathJye span { border: 0 none; margin: 0; padding: 0; line-height: normal; text-align: left; height: auto; _height: auto; white-space: normal; }
.MathJye table { border-collapse: collapse; margin: 0; padding: 0; text-align: center; vertical-align: middle; line-height: normal; font-size: inherit; *font-size: 100%; _font-size: 100%; font-style: normal; font-weight: normal; border: 0; float: none; display: inline-block; *display: inline; zoom: 0; }
.MathJye table td { padding: 0; font-size: inherit; line-height: normal; white-space: nowrap; border: 0 none; width: auto; _height: auto; }
.MathJye_mi { font-style: italic; }

/*鍒╃敤div瀹炵幇table甯冨眬-鏉ㄥ織杩�*/
.distable{  display: table; border-collapse:separate; -webkit-border-vertical-spacing: 5px;}
.distr{  display: table-row; }
.distdcode{ display: table-cell; vertical-align: baseline;word-break: normal;word-wrap: normal  }
.distdcontent{  display: table-cell;  vertical-align: baseline; }

/**
 * Begin 鏁板鍏紡瀛椾綋澶у皬璁剧疆
 * 2016骞�06鏈�01鏃�
 * add by qiuwei
 */
.math-panel text{
    font-size: 14px;
}
/**
 * End 鏁板鍏紡瀛椾綋澶у皬璁剧疆
 */

/** 
 * Begin 鍚姏棰� 闄勫姞鎾斁鎸夐挳
 * 2016骞�04鏈�28鏃� 
 * add by qiuwei 
 */
.knowbox_audio_listen {
    text-align: center;
    text-size-adjust: 100%;
    overflow-scrolling: touch;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.knowbox_audio_listen > button {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 148px;
    height:148px;
    background-color: #fff;
}

/** 
 * Begin 闆ⅶ鍥�
 * 2016骞�05鏈�13鏃� 
 * add by qiuwei 
 */
 
.icon-0 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px 0px;
  width: 148px;
  height: 148px;
}
.icon-1 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px -740px;
  width: 148px;
  height: 148px;
}

.icon-2 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px -444px;
  width: 148px;
  height: 148px;
}
.icon-3 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px -592px;
  width: 148px;
  height: 148px;
}
.icon-4 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px -740px;
  width: 148px;
  height: 148px;
}
.icon-5 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px -888px;
  width: 148px;
  height: 148px;
}
.icon-6 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px -1036px;
  width: 148px;
  height: 148px;
}
.icon-7 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px -1036px;
  width: 148px;
  height: 148px;
}
.icon-8 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px -1036px;
  width: 148px;
  height: 148px;
}
.icon-9 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px -1036px;
  width: 148px;
  height: 148px;
}
.icon-10 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px -148px;
  width: 148px;
  height: 148px;
}
.icon-11 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px -148px;
  width: 148px;
  height: 148px;
}
.icon-12 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px 0px;
  width: 148px;
  height: 148px;
}
.icon-13 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px -148px;
  width: 148px;
  height: 148px;
}
.icon-14 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px -296px;
  width: 148px;
  height: 148px;
}
.icon-15 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px -296px;
  width: 148px;
  height: 148px;
}
.icon-16 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px -296px;
  width: 148px;
  height: 148px;
}
.icon-17 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px 0px;
  width: 148px;
  height: 148px;
}
.icon-18 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px -148px;
  width: 148px;
  height: 148px;
}
.icon-19 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px -296px;
  width: 148px;
  height: 148px;
}

.icon-20 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px -444px;
  width: 148px;
  height: 148px;
}
.icon-21 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px -444px;
  width: 148px;
  height: 148px;
}
.icon-22 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px -444px;
  width: 148px;
  height: 148px;
}
.icon-23 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px 0px;
  width: 148px;
  height: 148px;
}
.icon-24 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px -148px;
  width: 148px;
  height: 148px;
}
.icon-25 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px -296px;
  width: 148px;
  height: 148px;
}
.icon-26 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px -444px;
  width: 148px;
  height: 148px;
}
.icon-27 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px -592px;
  width: 148px;
  height: 148px;
}
.icon-28 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px -592px;
  width: 148px;
  height: 148px;
}
.icon-29 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px -592px;
  width: 148px;
  height: 148px;
}

.icon-30 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px -592px;
  width: 148px;
  height: 148px;
}
.icon-31 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -740px 0px;
  width: 148px;
  height: 148px;
}
.icon-32 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -740px -148px;
  width: 148px;
  height: 148px;
}
.icon-33 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -740px -296px;
  width: 148px;
  height: 148px;
}
.icon-34 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -740px -444px;
  width: 148px;
  height: 148px;
}
.icon-35 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -740px -592px;
  width: 148px;
  height: 148px;
}
.icon-36 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px 0px;
  width: 148px;
  height: 148px;
}
.icon-37 {
   background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px -740px;
  width: 148px;
  height: 148px;
}
.icon-38 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px -740px;
  width: 148px;
  height: 148px;
}
.icon-39 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -444px -740px;
  width: 148px;
  height: 148px;
}

.icon-40 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -740px -740px;
  width: 148px;
  height: 148px;
}
.icon-41 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -888px 0px;
  width: 148px;
  height: 148px;
}
.icon-42 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -888px -148px;
  width: 148px;
  height: 148px;
}
.icon-43 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -888px -296px;
  width: 148px;
  height: 148px;
}
.icon-44 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -888px -444px;
  width: 148px;
  height: 148px;
}
.icon-45 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -888px -592px;
  width: 148px;
  height: 148px;
}
.icon-46 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -888px -740px;
  width: 148px;
  height: 148px;
}
.icon-47 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: 0px -888px;
  width: 148px;
  height: 148px;
}
.icon-48 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px -888px;
  width: 148px;
  height: 148px;
}
.icon-49 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -296px -888px;
  width: 148px;
  height: 148px;
}

.icon-50 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -592px -888px;
  width: 148px;
  height: 148px;
}
.icon-51 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -740px -888px;
  width: 148px;
  height: 148px;
}
.icon-52 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -888px -888px;
  width: 148px;
  height: 148px;
}
.icon-53 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -1036px 0px;
  width: 148px;
  height: 148px;
}
.icon-54 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -1036px -148px;
  width: 148px;
  height: 148px;
}
.icon-55 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -1036px -296px;
  width: 148px;
  height: 148px;
}
.icon-56 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -1036px -444px;
  width: 148px;
  height: 148px;
}
.icon-57 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -1036px -592px;
  width: 148px;
  height: 148px;
}
.icon-58 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -1036px -740px;
  width: 148px;
  height: 148px;
}
.icon-59 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -1036px -888px;
  width: 148px;
  height: 148px;
}

.icon-60 {
  background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/tingli/icon-sprite.png);
  background-position: -148px -1036px;
  width: 148px;
  height: 148px;
}
.knowbox_audio_listen {
    font-size: 0px;
    margin-top: 10px;
}
.knowbox_audio_listen .wave-1 {
    background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/image/tingli/icon-wave.png);
    background-position: 0px 0px;
    width: 75px;
    height: 30px;
    background-size: cover;
}
.knowbox_audio_listen .wave-2 {
    background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/image/tingli/icon-wave.png);
    background-position: -150px 0px;
    width: 75px;
    height: 30px;
    background-size: cover;
}
.knowbox_audio_listen .wave-3 {
    background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/image/tingli/icon-wave.png);
    background-position: -300px 0px;
    width: 75px;
    height: 30px;
    background-size: cover;
}
.knowbox_audio_listen .audio-default{
    width: 75px;
    height: 30px;
    background-color: #fff;
    background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/image/tingli/audio-defualt.png);
    background-size: cover;
}
.knowbox_audio_listen .audio-disabled{
    width: 75px;
    height: 30px;
    background-color: #fff;
    background-image: url(http://7xohdn.com2.z0.glb.qiniucdn.com/image/tingli/audio-disable.png);
    background-size: cover;
}
.knowbox_audio_listen .audio-loading{
    width: 75px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #64dcdc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
    background: url("http://7xohdn.com2.z0.glb.qiniucdn.com/image/tingli/audio-loading.gif") no-repeat center center;
}
